@import "../../../../styles/variables.scss";
.skills__container {
  display: flex;
  flex-direction: column;
  //align-items:center;
  //justify-items: center;
  margin-left: 10%;
  margin-right: 10%;

  .skills__container-items {
    display: flex;
    //justify-content:space-around;
    //align-items: center;
    //width: 100%;
    //margin: auto;

    p {
      display: block;
      width: 100%;
      margin: 0;
      font-size: 1.2rem;
      @include SFProRegular();
    }

    .skills__container-item-left{
      text-align: left;
    }

    .skills__container-item-right {
      text-align: right;
    }

  }
}
