@import "../../../../styles/variables.scss";

.work__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  p {
    margin: 0;
  }

  .work__container-interval {
    margin: 0;
    min-width: 7rem;
    @include SFProBold();
  }

  .work_container-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    .work_container-details-title {
      display: flex;
      flex-direction: column;

      .work_container-details-title-position {
        @include SFProBold();
        text-transform: uppercase;
      }
      .work_container-details-title-unit {
        margin-left: $textSpace;
        font-size: 0.8rem;
        text-align: right;
      }
    }

    .work_container-details-location {
      display: flex;
      @include SFProMediumItalic();

      .work_container-details-location-company {
        text-transform: uppercase;
      }
      .work_container-details-location-place {
        margin-left: $textSpace;
      }
    }

    .work_container-details-description {
      margin: 0;
      margin-bottom: 0.5rem;
      @include textJustifyLastLeft();
      @include SFProLight();
    }
  }
}

@media (min-width: 40rem) {
  .work__container {
    flex-direction: row;
    .work_container-details {
      .work_container-details-title {
        flex-direction: column;

        .work_container-details-title-unit {
          text-align: right;
        }
      }
    }
  }
}

@media (min-width: 55rem) {
  .work__container {
    flex-direction: row;
    .work_container-details {
      .work_container-details-title {
        flex-direction: row;

        .work_container-details-title-unit {
          text-align: left;
        }
      }
    }
  }
}
