@import "../../../../../styles/variables.scss";

.language__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @include SFProRegular();

  .language__container-title {
    color: $colorTertiary;
    margin: 0 0 0.3rem 0;
  }

  .language__container-colorbox {
    display: flex;
    flex-direction: column;
    background: $colorSecondary;

    .language__container-colorbox-knowledge {
      background: $titlePanel;
      height: 0.7rem;
      transition: all 1000ms ease-in;
    }

    .language__container-colorbox-motivation {
      background: $colorTertiary;
      height: 0.7rem;
      transition: all 1000ms ease-in;
    }
  }
}