@import "../../../../../styles/variables.scss";

.languages__container {
  display: flex;
  flex-direction: column;
  padding-left: $detailsPadding;
  margin-bottom: 1rem;

  .languages__container-hint {
    display: flex;
    justify-content: center;

    .languages__container-hint-knowledge {
      margin: 0.5rem 1rem 0 0;
      color: $titlePanel;
      font-size: 0.7rem;
    }
    .languages__container-hint-motivation {
      margin: 0.5rem 0 0 1rem;
      color: $colorTertiary;
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
