// fonts
$link: "http://localhost:3000/";
@font-face {
  font-family: "SFProDisplayBold";
  src: url( $link + "/fonts/SF-Pro-Display-Bold.otf");
}
@mixin SFProBold() {
  font-weight: bold;
  //font-family: "SFProDisplayBold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "SFProDisplayRegular";
  src: url($link + "fonts/SF-Pro-Display-Regular.otf");
}
@mixin SFProRegular() {
  font-weight: normal;
  //font-family: "SFProDisplayRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "SFProDisplayLight";
  src: url($link + "fonts/SF-Pro-Display-Light.otf");
}
@mixin SFProLight() {
  font-weight: 300;
  //font-style:initial;
  //font-family: "SFProDisplayLight", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "SFProDisplayMediumItalic";
  src: url($link + "fonts/SF-Pro-Display-MediumItalic.otf");
}
@mixin SFProMediumItalic() {
  font-style: italic;
  //font-family: "SFProDisplayMediumItalic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

// colors
$mainBackground: #fff;

// $titlePanel: #99c4c8;
// $sidePanel: #32667a;

// $colorMain: #32667a;
// $colorSecondary: #e3f5fc;
// $colorTertiary: #eee4ab;

$color1: #122C34;
$color2: #224870;
$color3: #2a4494;
$color4: #4ea6d9;
$color5: #44CFCB;

$color1a: #122c34a3;
$color2a: #224870b1;
$color3a: #2a4494c9;
$color4a: #4ea6d9c7;
$color5a: #44cfcaa2;

$color1p: #bfe6fb;
$color2p: #93C6E7;


// $color1: #5800FF;
// $color2: #0096FF;
// $color3: #00D7FF;
// $color4: #72FFFF;

$titlePanel:$color4;
$sidePanel: $color4;

$colorMain: $color2;
$colorSecondary: $color3;
$colorTertiary: $color2;

// layout properties
$cornerRadius: 2rem;
$detailsPadding: 1rem;

//text properies
$sectionSize: 1.3rem;
$textSpace: 0.3rem;

@mixin mainPadding() {
  padding: 1rem;
}
@mixin sectionTitle() {
  margin: 0;
  text-transform: uppercase;
  @include SFProRegular();
  font-size: $sectionSize;
  margin-bottom: 0.7rem;
}

@mixin textJustifyLastLeft() {
  text-align: justify;
  text-align-last: left;
}


