.picture {
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  background: url("https://raw.githubusercontent.com/afk-hun/resume/main/public/imgs/AFK_cv-1.jpg");
  background-position: center;
  background-position-y: top;
  background-origin: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  width: 80%;
  height: 23rem;
}

@media (min-width: 40rem) {
  .picture {
    height: 20rem;
    width: 100%;
  }
}
