@import "../../../../../styles/variables.scss";

.interests__container {
  padding-left: $detailsPadding;
  color: $color1p;

  .interests__container-title {
    margin: 0;
    @include SFProBold();
  }

  ul {
    @include SFProRegular();
    margin: 0;
    padding-left: 1.5rem;
  }
}
