@import "../../../../../styles/variables.scss";

.basics__container {
  background: $sidePanel;
  display: flex;
  flex-direction: column;
  padding: $cornerRadius;

  .basics__container-section {
    @include sectionTitle();
    color: $colorSecondary;
  }
  .basics__container-drivinglic {
    text-transform: none;
    font-size: 1rem;
    color: $colorTertiary;
    margin: 0;
    margin-bottom: 1rem;
    margin-left: $detailsPadding;
  }
}
