@import "../../../styles/variables.scss";

.rightpanel {
  margin: 1rem;
  color: $colorMain;

  .rightpanel__details {
    display: flex;
    flex-direction: column;
    margin-left: $cornerRadius;
    margin-right: $cornerRadius;
  }

  .rightpanel__details-section {
    @include sectionTitle();
  }

  .rightpanel__details-aboutme {
    margin: 0;
    margin-bottom: 1rem;
    @include textJustifyLastLeft();
  }
}

@media (min-width: 40rem) {
  .rightpanel {
    margin: 1rem 1rem 1rem 0;
    width: 100%;
    min-width: 28rem;
  }
}
