.container {
  background-color: #fff;
}

.aboutmecontainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
