/* mobile first! */
.app{
  display: flex;
  flex-direction: column-reverse; 
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
}

.right {

}

@media (min-width: 40rem ) {
  
    .app {
      background-color: #282728;
      display: grid;
      padding-left: 20%;
      padding-right: 20%;
      grid-template-columns: 18rem 70%;
    }
}
